  <v-container class="fill-height" fluid>
    <v-row align="center" justify="center">
      <v-col cols="12" sm="8" md="4">
        <v-card class="elevation-12">
          <v-toolbar color="primary" dark flat>
            <v-toolbar-title>Login</v-toolbar-title>
            <div class="flex-grow-1"></div>
          </v-toolbar>
          <v-card-text>
            <v-form>
              <v-text-field
                label="CPF"
                name="cpf"
                v-model="form.login"
                prepend-icon="mdi-account"
                type="text"
              ></v-text-field>

              <v-text-field
                id="senha"
                label="Senha"
                name="senha"
                v-model="form.password"
                prepend-icon="mdi-lock"
                type="password"
              ></v-text-field>
            </v-form>
          </v-card-text>
          <div class="text-center">
            <v-btn
              class="mb-8"
              color="primary"
              @click="submit()"
              :loading="loading"
              >Entrar</v-btn
            >
          </div>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
